<%= form_for(@listing, :html => {multipart: true } ) do |f| %>
  <% if @listing.errors.any? %>
      <div id="error_explanation" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this book from being posted:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Enter the book title" %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, class:"form-control", placeholder:"List the author(s) of the book" %>
  </div>

<%= f.label :price %>
<div class="input-group">
  <span class="input-group-addon">$<br></span>
  <%= f.text_field :price, class:"form-control", placeholder:"Enter the price of the book" %>
</div>


  <div class="form-group">
    <%= f.label :condition %><br>
    <%= f.text_field :condition, class:"form-control", placeholder:"Describe the condition of the book" %>
  </div>
  <div class="form-group">
    <%= f.label :course %><br>
    <%= f.text_field :course, class:"form-control", placeholder:"What course is this book used in?" %>
  </div>
  <div class="form-group">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn, class:"form-control", placeholder:"What is this book's isbn?" %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>


<% end %>

