<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Enter the book title" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", placeholder:"Enter a description of the book" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class:"form-control", placeholder:"Enter the price of the book" %>
  </div>
  <div class="form-group">
    <%= f.label :condition %><br>
    <%= f.text_field :condition, class:"form-control", placeholder:"Describe the condition of the book" %>
  </div>
  <div class="form-group">
    <%= f.label :course %><br>
    <%= f.text_field :course, class:"form-control", placeholder:"What course is this book used in?" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
