
    <div class="page-header">
 
      <div class="jumbotron"> 
       <div class="center">
        <h1>BISON BOOKS </h1>
       </div>
       </div>       

       <div class="col-m-6">
      <%= form_tag search_path, :method => :get do %>
           <%= text_field_tag :q, params[:q] , class: "form-control", placeholder: "Search for your books", data: { disable_with: params[:q] }  %>
            <% end %>
   </div>    
    </div>
<div class="center">
<div class="col-md-4">
  <div class="well">
      <h2> Find the books your need quickly!</h2><br/>
    <%= link_to 'Find a book!', search_path, class: "btn btn-primary", data: { disable_with: "Loading..." } %>
    </div>
</div>

 <div class="col-md-4">
		<div class="well">
      <h2> Post Your book for all to see and buy!</h2><br/>
      <%= link_to 'Post a book!', new_listing_path, class: "btn btn-primary", data: { disable_with: "Loading..." } %>
    </div>
</div>
<div class="col-md-4">
		<div class="well">
      <h2> Simply sell your book to BisonShare!</h2> <br/>
      <%= link_to 'Get an estimate', value_path, class: "btn btn-primary", data: { disable_with: "Loading..." } %>
    </div>
</div>
          
      
      
    </div>
