<% if @listings.current_page == 1 %> 
  <div class="jumbotron">
    <h1> MeccaShare </h1>
    <h2> Books sold by students to students at Howard University </h2>
  </div>
<% end %>

<div class="center">
    <div class="form-group">
            <%= form_tag listings_path, :method => :get do %>
            <%= text_field_tag :q, params[:q] , class: "form-control", placeholder: "Search" %>
            <% end %>
    </div>
    

<div class="center">
    <div class="page-header">
      <h1>Books currently being sold by Howard Students <br> <small>Click on a book for more details or <%= link_to 'Post a book!', new_listing_path, class: "btn btn-primary" %></small></h1>
      <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
    </div>
</div>

<div class="center"> 
     
        <% @listings.each_slice(4) do |list_group| %>
            <div class="row">
              <% list_group.each do |listing| %>
              
            <div class="col-md-3">
              <div class="pic">
                 <%= link_to image_tag(listing.image.url(:thumb)), listing %>
              </div>
              <div class="description"> 
                <h3> <%= listing.name %></h3>
                
                <div class="bg-info">
                <p> <%= listing.course %></p>
                  <p> <%= number_to_currency(listing.price) %></p>
                </div>  <!--- listing info --->
  
                <p class="bg-warning"> Owned by: <%= listing.user.name %>  
                  <% if (current_user == listing.user) %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
                  <% end %>
                </p>
              
              </div> <!--- description --->
  
            </div> <!--- colmd3 --->   
             <% end %>
        </div> <!--- row class --->
        <% end %>
    </div>      

  
  
<div class="center"> 
    <div class= "form-group">
         <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
      <br>
        <%= link_to 'Post a book!', new_listing_path, class: "btn btn-primary btn-lg" %>

    </div>
</div>


 