<div class="jumbotron">
  <h1> Books being sold by students to students at Howard University </h1>
  <h2> Scroll through to buy and sell textbooks, and save money! </h2>
</div>
<div class="center"> 
      <div class="row">
        <% @listings.each do |listing| %>
            <div class="col-md-3">
             <%= link_to image_tag(listing.image.url(:thumb)), listing %>
              <div class="description"> 
                <h3 class="bg-primary">Title: <%= listing.name %></h3>
                <div class="bg-info">
                <p>Course: <%= listing.course %></p>
                <p>Price: <%= number_to_currency(listing.price) %></p>
                <p>Condition: <%= listing.condition %></p>
                </div>
                <h3><%= listing.user.name %></h3>
                <% if (user_signed_in?) && (current_user == listing.user) %>
                <% end %>
              </div>
            </div>
        <% end %>
       </div>

 <% if user_signed_in? %>
  <%= link_to 'Post a book!', new_listing_path, class: "btn btn-success" %>
<% end %>

 </div>
