
    <div class="page-header">
      <div class="jumbotron"> 
    
       <div class="center">
        <h1>BISON BOOKS </h1>
       </div>
  </div>       
       <div class="col-m-6">
      <%= form_tag search_path, :method => :get do %>
           <%= text_field_tag :q, params[:q] , class: "form-control", placeholder: "Search for your books" %>
            <% end %>
   </div>    
      
      <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
    </div>

  
 
  
<div class="center"> 
     
        <% @listings.each_slice(4) do |list_group| %>
            <div class="row">
              <% list_group.each do |listing| %>
                
                  <div class="col-md-3">
       
    <div class="pic"><%=link_to image_tag(listing.image.url(:thumb)), listing %></div>

                    <div class="description"> 
                      <h4> <%= listing.name.upcase %></h4>
                        <p> <%= number_to_currency(listing.price) %></p>

                    </div> <!--- description --->
                   
                  </div> <!--- colmd3 ---> 
                
             <% end %>
        </div> <!--- row class --->
        <% end %>
    </div>      

    <div class="center">       
      <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
      <%= link_to 'Post a book!', new_listing_path, class: "btn btn-primary" %>
    </div>
