

<div class="center">
     <div class="row">

    <div class="form-group">
      <%= form_tag search_path, :method => :get do %>
            <%= text_field_tag :q, params[:q] , class: "form-control", placeholder: "Search" %>
            <% end %>

    </div>
 </div>  
  
<div class="center">
    <div class="page-header">
      <h1>Books listings!  <br> <small>Click on a book for more details or <%= link_to 'Post a book!', new_listing_path, class: "btn btn-primary" %></small></h1>
      <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
    </div>
</div>

  
  
<div class="center"> 
     
        <% @listings.each_slice(4) do |list_group| %>
            <div class="row">
              <% list_group.each do |listing| %>
                
                  <div class="col-md-3">
       
                    <div class="pic">
                        <%= link_to image_tag(listing.image.url(:thumb)), listing %>
                    </div>

                    <div class="description"> 
                      <h4> <%= listing.name.upcase %></h4>
                      <p> <%= listing.course %></p>
                        <p> <%= number_to_currency(listing.price) %></p>
                      <div class="form-group">
                        <% if listing.amazon == true %>
                            <%= link_to "Buy on Amazon", listing.link, class: "btn btn-success" %>
                        <% end %>
                      </div>
                      <% if listing.amazon == false %>
                      <p> posted by: <%= listing.user.name %>  
                        <% if (current_user == listing.user) %>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
                        <% end %>
                      </p>
                  <% end %>

                    </div> <!--- description --->
                   
                  </div> <!--- colmd3 ---> 
                
             <% end %>
        </div> <!--- row class --->
        <% end %>
    </div>      

  
  
  
<div class="center"> 
    <div class= "form-group">
         <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
      <br>
    </div>
</div>


 