<table class="table table-bordered table table-striped">
  <tr>
    <th class= "center">Image</th>
    <th class= "center">Name</th>
    <th class= "center">Author</th>
    <th class= "center">Condition</th>
    <th class= "center">Price</th>
    <th class= "center">Action</th>
  </tr>

   <% @listings.each do |listing| %>
      <tr>
        <td>
          <% if listing.user_id == 7 %>
                  <%= link_to image_tag(listing.picurl), listing %>
                <% else %>
                  <%= link_to image_tag(listing.image.url(:thumb)), listing %>
                <% end %>
        </td>  
        <td><%= listing.name %></td>  
        <td><%= listing.author %></td>  
        <td><%= listing.condition %></td>  
        <td><%= number_to_currency(listing.price) %></td> 
        <td>
             
                    <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><%= link_to 'View', listing, class: "btn btn-link" %></a></li>
                  <li><a href="#"><%= link_to 'Edit', edit_listing_path(listing), class:"btn btn-link" %></a></li>
              <li><a href="#"> <%= link_to 'Mark as sold', listing, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %></a></li>
            </ul>

        </td>
        
        
        
      </tr>
    <% end %>
</table>


  <% if user_signed_in? %>
    <%= link_to 'Post a book!', new_listing_path, class: "btn btn-success" %>
  <% end %>


 
