
<div class="row">
        <div class="col-md-6">
         <div class="showpic">
          <% if (@listing.user_id == 7) && (!@listing.picurl.nil?) %>
                  <%= link_to image_tag(@listing.picurl), @listing %>
                <% else %>
           <%= image_tag(@listing.image.url(:medium)) %>
                <% end %>
          </div>
  </div>
  <div class="col-md-4">
  
    <h1 > <%= @listing.name.upcase %></h1>

      <h3><strong>by:</strong> <%= @listing.author %></h3>
      <h3><strong>price:</strong> <%= number_to_currency(@listing.price) %></h3>
      <h3><strong>condition:</strong><%= @listing.condition %></h3>
      <h3><strong>course:</strong><%= @listing.course %></h3>
       <% if @listing.isbn == nil %>
        <h3><strong>isbn:</strong>N/A</h3>
      <% else %>
        <h3><strong>isbn:</strong><%= @listing.isbn %></h3>
      <% end %>
       <% if @listing.amazon == false %>
            <h3 class="bg-warning">Owned by:<%= @listing.user.name %></h3>
      <% end %>


 <%= link_to 'Back', listings_path, class:"btn btn-link" %>    
    <br>
    <% if @listing.amazon == false %>  
    <% if current_user != @listing.user %>
     <div class="center">
       <%= link_to "Request this book", new_listing_order_path(@listing), class: "btn btn-success" %>
     </div>
    <% end %>
  <% end %>
    
                 <div class="form-group">
                  <% if @listing.amazon == true %>
                      <%= link_to "Buy on Amazon", @listing.link, class: "btn btn-success" %>
                  <% end %>
                </div> 
    
<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %>  
<% end %>
    
  </div>
</div>

 
    
    



