
<div class="row">
        <div class="col-md-3">
         <div class="showpic">
      <% if @listing.amazon == false %>
           <%= cl_image_tag(@listing.image_url(:thumbnail)) %>
       <% else %>   
           <%= image_tag(@listing.picurl) %>
       <% end %>
          </div>
  </div>

<div class="center">  
 <div class="col-md-2"> 
  <div class="list-group">
    <h3 class="list-group-item active"> <%= @listing.name.upcase %></h3>
     <div class="list-group-item">
      <h4><strong>by: </strong> <%= @listing.author %></h4>
      <h4><strong>price: </strong> <%= number_to_currency(@listing.price) %></h4>
      <h4><strong>condition: </strong><%= @listing.condition %></h4>
      <h4><strong>course: </strong><%= @listing.course %></h4>
       <% if @listing.isbn == nil %>
        <h4><strong>isbn: </strong>N/A</h4>
      <% else %>
        <h4><strong>isbn:</strong><%= @listing.isbn %></h4>
      <% end %>
       <% if @listing.amazon == false %>
            <h4>Owned by:<%= @listing.user.name %></h4>
      <% end %>
  </div>
    </div>
<div class="list-group-item">
  <%= link_to 'Back', listings_path, class:"btn btn-primary" %>    
    <br>
    <% if @listing.amazon == false %>  
    <% if current_user != @listing.user %>
     <div class="center">
       <%= link_to "Request this book", new_listing_order_path(@listing), class: "btn btn-success" , data: { disable_with: "Loading..." }%>
     </div>
    <% end %>
  <% end %>
  
                 <div class="form-group">
                  <% if @listing.amazon == true %>
                      <%= link_to "Buy on Amazon", @listing.link, class: "btn btn-success" %>
                  <% end %>
                </div> 
    
  <% if (current_user == @listing.user) && (@listing.amazon!= true) %>
  <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-primary" %>  
<% end %>
      </div>
  </div>
</div>
</div>
 
    
    



