
<div class="row">
  <div class="col-md-6"><%= image_tag @listing.image_url(:medium) %></div>
  <div class="col-md-4">
  
    <h3 class="bg-primary">Title: <%= @listing.name %></h3>
    <div class="bg-info">
      <p><strong>Author:</strong> <%= @listing.author %></p>
      <p><strong>Price:</strong> <%= number_to_currency(@listing.price) %></p>
      <p><strong>Condition:</strong><%= @listing.condition %></p>
      <p><strong>Course:</strong><%= @listing.course %></p>
      <p class="bg-warning">Owned by:<%= @listing.user.name %></p>
    </div>
<br>
 <div class="center">
   <%= link_to "Request this book", new_listing_order_path(@listing), class: "btn btn-success" %>
 </div>

    
<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %> 
<% end %>
    

 <%= link_to 'Back', listings_path, class:"btn btn-link" %>
  
  </div>
</div>

 
    
    



