<div class="center">
    <div class="page-header">
      <h1>Search results for: "<%= params[:q] %>" </h1>
    </div>
    <div class="form-group">
      <%= form_tag search_path, :method => :get do %>
            <%= text_field_tag :q, params[:q] , class: "form-control", placeholder: "Search" %>
            <% end %>
    </div>
</div>

<div class="search">
    <table class="table">  
          <% @listings.each do |listing| %>
      <tr>
            <td>
              <% if listing.amazon == true %>
                      <%= link_to image_tag(listing.picurl), listing %>
                    <% else %>
                      <%= link_to image_tag(listing.image.url(:thumb)), listing %>
                    <% end %>
            </td>  

        <td>
          <h4><%= listing.name.upcase %></h4><br/>
          <p>by: <%= listing.author %></p> <br/>
          <p><%= number_to_currency(listing.price) %></p>
          <div class="form-group">
          <% if listing.amazon == true %>              
                 <%= link_to "Buy on Amazon", listing.link+"?tag=bisonshare-20", class: "btn btn-success" %> 
             <%else %>       
                     <% if listing.user != current_user %> 
                     <%= link_to "Request this book", new_listing_order_path(listing), class: "btn btn-success" %> 
                     <% else %>
                     <%= link_to "View my book", listing, class: "btn btn-primary" %>
                     <% end %>
             </div>
            <% end %>
        </td>    
      </tr>
      <%end%>
      </table>       
 </div>       
      
 
