<h1>Book Request</h1>

<div class="row">
  <div class="col-md-4"><%= image_tag @listing.image_url(:thumb) %></div>
  <div class="bg-info">
    <h3 class="bg-primary">Title: <%= @listing.name %></h3>
      <p><strong>Author:</strong> <%= @listing.author %></p>
      <p><strong>Price:</strong> <%= number_to_currency(@listing.price) %></p>
      <p><strong>Condition:</strong><%= @listing.condition %></p>
      <p><strong>Course:</strong><%= @listing.course %></p>
      <p class="bg-warning">Owned by:<%= @listing.user.name %></p>
    </div>
<br>
    
<h3> Send a message to <%= @listing.user.name %> to let him/her know that you would like to purchase this book </h3>
<%= render 'form' %>

  
  <%= link_to 'Back', listings_path, class: "btn btn-link" %>
