<div class="center">
  <h1> Your Purchase Request History </h1>
</div>

<table class="table table-bordered table table-striped">
  <tr>
    <th class= "center">Image</th>
    <th class= "center">Item Details</th>
    <th class= "center">Message</th>
    <th class= "center">Bought from</th>
    <th class= "center">Date purchased</th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        
        <td><%= cl_image_tag(order.listing.image_url(:thumbnail)) %>
        </td>  
        <td><p>Title: </p><%= order.listing.name %> <br><p>Price: </p> <%= number_to_currency(order.listing.price) %> </td>  
        <td><%= order.detail %></td> 
        <td><%= order.seller.name %></td>  
        <td><%= order.created_at.strftime("%B %-d, %Y") %></td>  
        
      </tr>
    <% end %>
</table>


  <% if user_signed_in? %>
    <%= link_to 'Post a book!', new_listing_path, class: "btn btn-success" , data: { disable_with: "Loading..." }%>
  <% end %>

