<div class="starting">
<div class="center">
  <h1> Getting Started with BisonShare <small> It's really easy! </small> </h1>
<br/><br/>

</div><!---center--->
<h2>Posting and selling a book</h2>
<ul>
  <li>
    <h3>1.Click on the home page to post a book.</h3>
    <%= image_tag("https://www.dropbox.com/s/3hf2bec2p6mk2wo/post%20a%20book.png?dl=0&raw=1") %>
  </li>
  <li>
    <h3>2.Fill in your book's information.</h3>
    <%= image_tag("https://www.dropbox.com/s/h1qjhshhvrx2uxb/search%20for%20a%20book.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>3.Manage your book listing.</h2>
    <%= image_tag("https://www.dropbox.com/s/dr0vfjynflpprk5/manage%20listings.png?dl=0&raw=1") %>
  </li>
  <li>
    <h3>4.Check your email for book requests.</h3>
    <%= image_tag("https://www.dropbox.com/s/b92f01q2wluf7ww/email.png?dl=0&raw=1") %>
    
  </li>
  <li>
    <h3>5. Meet on campus to sell your book. </h3>
    <%= image_tag("https://www.dropbox.com/s/m4w8ihna2v3lexp/15425FE_DA_100123_HBCU_Howard1.jpg?dl=0&raw=1") %>
    
  </li>
  
</ul>
<br/><br/><br/><br/>
<h2>Buying a book</h2>
<ul>
  <li>
    <h3>1. Use the search bar to find your book.</h3>
    <%= image_tag("https://www.dropbox.com/s/h1qjhshhvrx2uxb/search%20for%20a%20book.png?dl=0&raw=1") %>
  </li>
  <li>
    <h3>2. Click on the book listing to view its details.</h3>
    <%= image_tag("https://www.dropbox.com/s/7ul3j5b17eo7w3z/view%20book%20details.png?dl=0&raw=1") %>
  </li>
  <li>
    <h3>3. Send a request to the book owner</h3>
    <%= image_tag("https://www.dropbox.com/s/poflferf1oqzb74/request.png?dl=0&raw=1") %>
  </li>
  <li>
    <h3>4. Meet the seller on campus to get your book. </h3>
    <%= image_tag("https://www.dropbox.com/s/m4w8ihna2v3lexp/15425FE_DA_100123_HBCU_Howard1.jpg?dl=0&raw=1") %>
  </li>
  
</ul>
</div>