<div class="starting">
<div class="center">
  <h1> Getting Started with BisonShare <small> It's really easy! </small> </h1>
<br/><br/>

</div><!---center--->
<h2>Posting and selling a book</h2>
<ul>
  <li>
    <h2>1.Click on the home page to post a book.</h2>
    <%= image_tag("https://www.dropbox.com/s/adatnm6391i6uwx/post%20a%20book.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>2.Fill in your book's information.</h2>
    <%= image_tag("https://www.dropbox.com/s/k9q4a023eqvryqe/create%20new%20book%20listing.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>3.Manage your book listing.</h2>
    <%= image_tag("https://www.dropbox.com/s/h6g8by1u6c8tqjg/manage%20listings.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>4.Check your email for book requests.</h2>
    <%= image_tag("https://www.dropbox.com/s/9gfbg4dpozebcck/email.png?dl=0&raw=1") %>
    
  </li>
  <li>
    <h2>5. Meet on campus to sell your book. </h2>
    <%= image_tag("https://www.dropbox.com/s/9kgodptxztjwx89/15425FE_DA_100123_HBCU_Howard1.jpg?dl=0&raw=1") %>
    
  </li>
  
</ul>
<br/><br/><br/><br/>
<h2>Buying a book</h2>
<ul>
  <li>
    <h2>1. Use the search bar to find your book.</h2>
    <%= image_tag("https://www.dropbox.com/s/qmmc640tv6c0din/search%20for%20a%20book.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>2. Click on the book listing to view its details.</h2>
    <%= image_tag("https://www.dropbox.com/s/ofehy5zyqmlyjtc/view%20book%20details.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>3. Send a request to the book owner</h2>
    <%= image_tag("https://www.dropbox.com/s/ca71gl57n8zo2sp/request.png?dl=0&raw=1") %>
  </li>
  <li>
    <h2>4. Meet the seller on campus to get your book. </h2>
    <%= image_tag("https://www.dropbox.com/s/9kgodptxztjwx89/15425FE_DA_100123_HBCU_Howard1.jpg?dl=0&raw=1") %>
  </li>
  
</ul>
</div>