<h1> <%= @name %> wants to sell you a book <h1> <br/>
<h3>Title: </h3><%= @title %>  <br/>
<h3>Condition:</h3> <%= @condition %> <br/>
<h3>Comments: </h3><%= @comment %> <br/>
You can email them back at <%= @email %> <br/>