

<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ">
				<div class="navbar-header">
					    <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
					        <span class="glyphicon glyphicon-align-justify"></span>
					    </button>
      					<a class="navbar-brand logo" href="/">BisonShare</a>
    			</div>
			</div>
			<div class="col-md-8">
				<nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
					<ul class="nav navbar-nav navbar-right menu">
              <li> <%= link_to "About", pages_about_path %></li>
              <li> <%= link_to "Contact", contact_path %></li>
            
            
							<% if user_signed_in? %>
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-wrench icon-size"></span> Manage<span class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu" role="menu">

                  <li><%= link_to "Manage Listings", seller_path , data: { disable_with: "Loading..." }%></li>
          </ul>
        </li>
        
        
          <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong><%=current_user.name %></strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                        
                                     
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">  
                                      <p >
                                            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary btn-block " %>
                                        </p>
                                        <p>
                                           <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-danger btn-block" %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
        
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
					</ul>
           
				</nav>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-sm"><a href="/listings/new"><i class="fa fa-pencil fa-5x" ></i></a></button>
            <button type="button" class="btn btn-sm"><a href="/listings"><i class="fa fa-search fa-5x" ></i></a></button>
        </div>
    </div>
          
			</div>
		</div>
	</div>
</header>

<head>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
</head>



